<div class="row">
  <div
    class="card col-md-6"
    style="height: 425.5px; background-image: url('assets/img/adult-body-businessman-652347.jpg')"
  >
    <div style="background-color: white" class="card-header">
      <h4 class="card-title">Individual</h4>
      <span class="grey">Freight Forwarders</span>
    </div>
    <button
      class="btn btn-raised gradient-purple-bliss white shadow-z-1-hover"
      (click)="individual()"
    >
      Individual
    </button>
  </div>
  <div
    class="card col-md-6"
    style="height: 425.5px; background-image: url('assets/img/board-room-chairs-conference-room-159805.jpg')"
  >
    <div style="background-color: white" class="card-header">
      <h4 class="card-title">Corporate</h4>
      <span class="grey">Freight Forwarders</span>
    </div>
    <button
      class="btn btn-raised gradient-purple-bliss white shadow-z-1-hover"
      (click)="corporate()"
    >
      Corporate
    </button>
  </div>
</div>
