<div class="row">
  <div
    class="card col-md-6"
    style="height: 425.5px; background-image: url('assets/img/adult-body-businessman-652347.jpg')"
  >
    <div style="background-color: white" class="card-header">
      <h4 class="card-title">Individual</h4>
      <span class="grey">Freight Forwarders</span>
    </div>
    <div class="row">
      <button
        class="btn btn-raised gradient-purple-bliss white shadow-z-1-hover col-md-6"
        (click)="individual()"
      >
        Individual List
      </button>
      <button
        class="btn btn-raised gradient-blue-grey-blue white shadow-z-1-hover col-md-6"
        (click)="createIndividual()"
      >
        Create Individual
      </button>
    </div>
  </div>
  <div
    class="card col-md-6"
    style="height: 425.5px; background-image: url('assets/img/board-room-chairs-conference-room-159805.jpg')"
  >
    <div style="background-color: white" class="card-header">
      <h4 class="card-title">Corporate</h4>
      <span class="grey">Freight Forwarders</span>
    </div>
    <div class="row">
      <button
        class="btn btn-raised gradient-purple-bliss white shadow-z-1-hover col-md-6"
        (click)="corporate()"
      >
        Corporate List
      </button>
      <button
        class="btn btn-raised gradient-blue-grey-blue white shadow-z-1-hover col-md-6"
        (click)="createCorporate()"
      >
        Create Corporate
      </button>
    </div>
  </div>
</div>
