<section id="filter" class="mb-3  card">
  <div class="row text-left">
    <div class="col-12">
      <div _ngcontent-c8="" class="card-body ">
        <div class="content-header">
          Individual Practitioners
        </div>
        <p class="card-text">Unsubmitted Data List</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <input
        type="text"
        style="padding:8px;margin:15px auto;width:30%; margin-left: 20px;"
        placeholder="Type to filter the name column..."
        (keyup)="updateFilter($event)"
      />
      <ngx-datatable
        #table
        class="bootstrap"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [limit]="10"
        [rows]="rows"
      >
        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span> Surname</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.surname }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>Other Names</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.othernames }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>Membership Number</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row.membershipnumber }}
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column>
          <ng-template ngx-datatable-header-template>
            <span>Submit</span>
          </ng-template>
          <ng-template let-row="row" ngx-datatable-cell-template>
            <button
              class="btn btn-raised gradient-mint white shadow-z-4"
              (click)="submit(row._id)"
            >
              Detail
            </button>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
  </div>
</section>
