<div _ngcontent-c17="" class="col-md-10">
  <div _ngcontent-c17="" class="card">
    <div _ngcontent-c17="" class="card-header">
      <h4 _ngcontent-c17="" class="card-title">Individual</h4>
      <p _ngcontent-c17="">
        Create Data
      </p>
    </div>
    <div class="card-content">
      <div class="card-body ">
        <form (ngSubmit)="submit()">
          <div class="row">
            <div class="col-md-8">
              <ul _ngcontent-c8="" class="list-group">
                <li _ngcontent-c8="" class="list-group-item text-left">
                  <p class="float-right ">{{ item.name }}</p>
                  <b>Name</b>
                </li>
                <li _ngcontent-c8="" class="list-group-item text-left">
                  <p class="float-right ">{{ item.membershipnumber }}</p>
                  <b>Membership Number</b>
                </li>
                <li _ngcontent-c8="" class="list-group-item text-left">
                  <p class="float-right ">{{ category.description }}</p>
                  <b>Category</b>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <img
                width="200px"
                height="200px"
                [hidden]="photoItem.passportphotograph === ''"
                src="{{ imageUrl }}"
              />
              <img
                width="200px"
                height="200px"
                src="imageUrl"
                [hidden]="photoItem.passportphotograph != ''"
              />
            </div>
          </div>
          <div
            class="media-body  gredient-blackberry"
            style="background-color: teal; padding-top: 25px"
          >
            <div style="padding: 40px">
              <div class="input-group row">
                <label class="col-md-4 white">Title</label>

                <select
                  name="title"
                  #title="ngModel"
                  class="form-control col-md-2"
                  id="title"
                  [(ngModel)]="data.title"
                >
                  <option>Select Option</option>
                  <option value="Mr">Mr</option>
                  <option value="Mrs">Mrs</option>
                  <option value="Dr">Dr</option>
                  <option value="Chief">Chief</option>
                </select>
              </div>
              <div class="input-group row">
                <label class="col-md-4 white" style="padding-left: 15px"
                  ><b>Email</b></label
                >
                <input
                  type="text"
                  class="form-control col-md-5"
                  name="email"
                  #email="ngModel"
                  [(ngModel)]="data.email"
                  id="email"
                  placeholder="Email"
                />
              </div>

              <div class="input-group row">
                <label class="col-md-4 white" style="padding-left: 15px"
                  ><b>Phone Number</b></label
                >
                <input
                  type="text"
                  class="form-control col-md-5"
                  [(ngModel)]="data.phonenumber"
                  #phonenumber="ngModel"
                  name="phonenumber"
                  id="phonenumber"
                  placeholder="Phonenumber"
                />
              </div>
              <div class="input-group row">
                <label class="col-md-4 white">Identification</label>

                <select
                  name="typeofid"
                  #typeofid="ngModel"
                  class="form-control col-md-2"
                  id="title"
                  [(ngModel)]="data.typeofid"
                >
                  <option>Select Option</option>
                  <option value="1">Drivers License</option>
                  <option value="2">International Passport</option>
                  <option value="3">National ID</option>
                  <option value="4">Voters Card</option>
                </select>
              </div>
              <div class="input-group row">
                <label class="col-md-4 white" style="padding-left: 15px"
                  ><b>ID Number</b></label
                >
                <input
                  type="text"
                  class="form-control col-md-5"
                  name="idcardNumber"
                  #idcardNumber="ngModel"
                  [(ngModel)]="data.idcardnumber"
                  id="email"
                  placeholder="ID Number"
                />
              </div>
              <div class="input-group row">
                <label class="col-md-4 white" style="padding-left: 15px"
                  ><b>State</b></label
                >
                <select
                  class=" form"
                  id="inputGroupSelect01"
                  name="statecode"
                  #statecode="ngModel"
                  [(ngModel)]="data.statecode"
                  (change)="onChangeEvent($event)"
                >
                  <option selected>State List...</option>
                  <option
                    *ngFor="let state of statelist"
                    value="{{ state.code }}"
                  >
                    {{ state.description }}</option
                  >
                </select>
              </div>
              <div class="input-group row">
                <label class="col-md-4 white" style="padding-left: 15px"
                  ><b>Local Government Area</b></label
                >
                <select
                  class=" form"
                  id="inputGroupSelect01"
                  name="lgacode"
                  #lgaode="ngModel"
                  [(ngModel)]="data.lgacode"
                >
                  <option selected>LGA List...</option>
                  <option *ngFor="let lga of lgalist" value="{{ lga.code }}">
                    {{ lga.description }}</option
                  >
                </select>
              </div>
              <div class="input-group row">
                <label class="col-md-4 white" style="padding-left: 15px"
                  ><b>Address</b></label
                >

                <textarea
                  class="form-control"
                  name="address"
                  #address="ngModel"
                  [(ngModel)]="data.address"
                  id="address"
                  placeholder="Address"
                  rows="3"
                ></textarea>
              </div>
            </div>
          </div>
          <div class="row col-md-12">
            <button
              (click)="back()"
              class="btn btn-raised btn-primary white shadow-z-1-hover"
              style="margin-top: 20px"
            >
              Back
            </button>

            <button
              style="margin-top: 20px"
              type="submit"
              class="btn btn-raised gradient-purple-bliss white shadow-z-1-hover float-right"
            >
              Save
            </button>
          </div>
          <div class="row">
            <div style="float: right" class="mb-3" *ngIf="formCompleted">
              <a
                class="btn btn-raised gradient-mint white shadow-z-4"
                (click)="showSmallModal()"
                >Upload Image</a
              >
            </div>
            <div
              _ngcontent-abm-c7=""
              style="float: right"
              class="mb-3"
              *ngIf="formCompleted"
            >
              <a
                _ngcontent-abm-c7=""
                class="btn btn-raised gradient-mint white shadow-z-4"
                (click)="back()"
                >Back to List</a
              >
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
